* {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
Header {
  background-color: #003566;
  padding: 50px;
  color: #ffffff;
  font-size: 10px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}
body {
  background-color: #f9f9f9;
}
nav a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  font-size: 14px;
}
nav {
  text-align: center;
}
.searchBar {
  text-align: center;
  padding: 30px;
  padding-top: 0px;
}

.searchBar input {
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  width: 50%;
}

.add-comment input {
  text-align: left;

  padding: 5px;
  padding-bottom: 30px;
  border-radius: 10px;
  width: 60%;
}
.add-comment button {
  width: 20%;
  align-self: baseline;
}

.main-article-container {
  padding: 10%;
}
.comment-section-container {
  border: 2px solid #003566;
  padding: 25px;
}
.add-comment {
  align-items: baseline;
  display: flex;
}
.likes {
  display: flex;
}
.comment {
  border: 2px solid #003566;
  padding: 25px;
}
